*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body{
  font-size: 62.5%;
}

body, html{height: 100%;}

h1{font-size: 36px;}

h2{font-size: 30px;}

h3{font-size: 24px;}

h4{font-size: 18px;}

h5{font-size: 14px;}

h6{font-size: 12px;}

img{max-width: 100%;}

input, textarea{
  text-indent: 10px;
}

input:focus, textarea:focus{
  border: none;
  box-shadow: 0px 0px 5px #3498db;
  outline:none;
}

p{
  font-size: 15px;
  line-height: 150%;
}

small{font-size: 0.7em;}